.uim-search-filter {
  position: relative;
}
.uim-search-filter .input-lg {
  height: 49px;
  text-indent: 64px;
  padding-right: 44px;
}
.uim-search-filter input,
.uim-search-filter .btn,
.uim-search-filter .uim-filter-count,
.uim-search-filter a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.uim-search-filter label {
  margin: 0;
  padding: 4px 20px 4px 35px;
  font-weight: normal;
  cursor: pointer;
}
.uim-search-filter .uim-btn-clear-query {
  position: absolute;
  right: 6px;
  top: 6px;
}
.uim-search-filter .uim-btn-clear-query .btn {
  color: #B7B7B7;
  border-color: #EAEAEA;
  background-color: #F6F6F6;
  height: 38px;
  width: 36px;
}
.uim-search-filter .uim-btn-clear-query .btn:hover {
  border-color: #F4D09E;
  color: #F1C384;
  background-color: #FDEDD7;
}
.uim-search-filter .uim-active-filters {
  margin-top: 4px;
}
.uim-search-filter .uim-active-filters .label {
  font-size: 14px;
  margin-right: 5px;
  background-color: #3a87ad;
}
.uim-search-filter .uim-active-filters .label a {
  color: #fff;
  padding: 3px 8px;
  margin-right: -10px;
}
.uim-search-filter .uim-active-filters .label a:hover {
  color: #F1C384;
}
.uim-search-no-filter .input-lg {
  text-indent: 4px;
}
.uim-btn-filter {
  position: absolute;
  top: 2px;
  left: 2px;
}
.uim-btn-filter .caret {
  opacity: .3;
}
.uim-btn-filter .btn {
  color: #999;
}
.uim-btn-filter .dropdown-header {
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
  padding-left: 15px;
}
.uim-btn-filter.uim-filter-checked .btn,
.uim-btn-filter.uim-filter-checked.open .btn {
  background: #3a87ad;
  color: #fff;
  border-color: #1674A9;
}
.uim-btn-filter.dropdown.open .btn,
.uim-btn-filter.uim-filter-checked.open .btn {
  box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.15);
}
.uim-btn-filter .dropdown-menu > li > a {
  padding: 0;
}
.uim-btn-filter .uim-filter-count {
  position: absolute;
  top: -5px;
  right: -5px;
  border: 1px solid #729FB6;
  border-radius: 10px;
  padding: 2px 6px;
  background: #fff;
  color: #005580;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.uim-btn-filter.uim-filter-checked .uim-filter-count {
  opacity: 1;
}
