html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #f5f5f5; */
  /* background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%237b1f3d' fill-opacity='0.12' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
  background: url("../img/bg.png") repeat;
}

h1 {
    font-size: 20px !important;
}

/* .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 40px 30px 30px;
  margin: auto;
  background: #ffffff70;
  box-shadow: 0px 1px 20px 2px #888;
} */
.form-signin {
  position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-signin .checkbox {
  font-weight: 400;
}
/* .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
} */
.form-signin .form-control {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border: 1px solid #e2e2e2;
  border-radius: 0;
}
.form-signin input[type="text"]:before {
    content: "\f007";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: -5px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 0;
}
.form-signin input[type="password"]:before {
    content: "\f084";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: -5px;
}

/* .form-signin .btn-vinho {
    color: #fff;
    background-color: #7b1f3d;
    border-color: #7b1f3d;
} */
.form-signin .btn-vinho {
    text-transform: uppercase;
    outline: 0;
    background: #7b1f3d;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    box-shadow: 0px 3px #431222;
}

.form-signin .btn-vinho:hover {
    /* color: #fff;
    background-color: #863c54;
    border-color: #863c54; */
    color: #fff;
    background-color: #5c152c;
    border-color: #5c152c;
}

.form-signin .logo {
    width: 85%;
}

.form-signin .copyright {
    font-size: 12px;
}