/* MENU */
nav.navbar.navbar-expand.navbar-dark.bg-vinho.static-top {
  background-color: #7b1f3d !important;
  padding: 0;
  height: 56px;
}

.navbar-dark .navbar-nav .nav-link {
  /* color: #fff !important; */
}

#logoMenu {
  width: 225px;
  background: #212529;
  height: 56px;
  background-image: url("../img/logo_menu-b.png");
  background-repeat: no-repeat;
  background-position: 16px center;
}

/* #logoMenu img {
    height: 36px;
} */

/* SIDEBAR */

.sidebarAtivo {
  color: #fff;
}

.sidebar .dropdown-item:focus,
.sidebar .dropdown-item:hover {
  /color: rgba(255, 255, 255, 0.75) !important;
  background-color: #212529;
}

/*colore menu da sidebar*/
.dropdownAtivo i + span {
  color: #fff;
}

/* .pedidos .sidebar #pedidosDropdown i + span, .pedidos .sidebar #pedidosDropdown i,
.produtos .sidebar #produtosDropdown i + span, .produtos .sidebar #produtosDropdown i,
.gestaoPedidos .sidebar #pedidosDropdown i + span, .gestaoPedidos .sidebar #pedidosDropdown i,
.separarPedidos .sidebar #pedidosDropdown i + span, .separarPedidos .sidebar #pedidosDropdown i,
.gestaoProdutos .sidebar #produtosDropdown i + span, .gestaoProdutos .sidebar #produtosDropdown i,
.configuracao .sidebar #empresaDropdown i + span, .configuracao .sidebar #empresaDropdown i,
.cadastroCnpj .sidebar #empresaDropdown i + span, .cadastroCnpj .sidebar #empresaDropdown i,
.usuariosCadastrados .sidebar #usuarioDropdown i + span, .usuariosCadastrados .sidebar #usuarioDropdown i,
.editarUsuario .sidebar #usuarioDropdown i + span, .editarUsuario .sidebar #usuarioDropdown i,
.cadastroUsuario .sidebar #usuarioDropdown i + span, .cadastroUsuario .sidebar #usuarioDropdown i,
.listarEtiquetas .sidebar #pedidosDropdown i + span, .listarEtiquetas .sidebar #pedidosDropdown i,
.cadastroContas .sidebar #transportadoraDropdown i + span, .contasCadastradas .sidebar #transportadoraDropdown i, 
.configCorreios .sidebar #transportadoraDropdown i + span, .configCorreios .sidebar #transportadoraDropdown i {
    color: #fff;
} */

/*colore menu fechado da sidebar*/
.dropdownAtivo i {
  color: #fff;
}

/* .gestaoPedidos .sidebar #pedidosDropdown i,
.gestaoProdutos .sidebar #produtosDropdown i,
.separarPedidos .sidebar #pedidosDropdown i,
.configuracao .sidebar #empresaDropdown i,
.cadastroCnpj .sidebar #empresaDropdown i,
.usuariosCadastrados .sidebar #usuarioDropdown i,
.editarUsuario .sidebar #usuarioDropdown i,
.cadastroUsuario .sidebar #usuarioDropdown i,
.listarEtiquetas .sidebar #pedidosDropdown i,
.cadastroContas .sidebar #transportadoraDropdown i,
.configCorreios .sidebar #transportadoraDropdown i {
    color: #fff;
} */

/*colore o submenu da sidebar*/
a.dropdown-item.itemAtivo,
a.dropdown-item.itemAtivo i {
  color: #fff;
}

/* .gestaoPedidos .sidebar .dropdown-menu-pedidos a.dropdown-item.gestaoPed,
.pedidos .dropdown-menu-pedidos a.dropdown-item.gestaoPed,
.gestaoProdutos .sidebar .dropdown-menu-produtos a.dropdown-item.gestaoProd,
.produtos .dropdown-menu-produtos a.dropdown-item.gestaoProd,
.separarPedidos .sidebar .dropdown-menu-pedidos a.dropdown-item.separar,
.configuracao .sidebar .dropdown-menu-empresa a.dropdown-item.config,
.cadastroCnpj .sidebar .dropdown-menu-empresa a.dropdown-item.cadast,
.usuariosCadastrados .sidebar .dropdown-menu-usuario a.dropdown-item.usuario,
.editarUsuario .sidebar .dropdown-menu-usuario a.dropdown-item.usuario,
.cadastroUsuario .sidebar .dropdown-menu-usuario a.dropdown-item.cadUsuario,
.cadastroContas .sidebar .dropdown-menu-transportadora a.dropdown-item.contas,
.configCorreios .sidebar .dropdown-menu-transportadora a.dropdown-item.corr,
.listarEtiquetas .sidebar .dropdown-menu-pedidos a.dropdown-item.etiquetas {
    color: #fff;
} */

/*colore bg do menu da sidebar*/
.dropdownAtivo {
  background: #666;
}

/* .gestaoPedidos .sidebar #pedidosDropdown,
.pedidos .sidebar #pedidosDropdown,
.gestaoProdutos .sidebar #produtosDropdown,
.produtos .sidebar #produtosDropdown,
.separarPedidos .sidebar #pedidosDropdown,
.configuracao .sidebar #empresaDropdown,
.cadastroCnpj .sidebar #empresaDropdown,
.usuariosCadastrados .sidebar #usuarioDropdown,
.editarUsuario .sidebar #usuarioDropdown,
.cadastroUsuario .sidebar #usuarioDropdown,
.listarEtiquetas .sidebar #pedidosDropdown, 
.configCorreios .sidebar #transportadoraDropdown, 
.cadastroContas .sidebar #transportadoraDropdown {
    background: #1e1e1e;
} */

ul.sidebar.navbar-nav.toggled i {
  font-size: 18px !important;
}

ul.sidebar.navbar-nav.toggled .nav-item:first-child a {
  /* padding-top: 1.5rem; */
}

/*submenu recolhido abre no hover*/
ul.sidebar.navbar-nav.toggled .dropdown:hover > .dropdown-menu {
  display: block;
  left: 60px !important;
  border-radius: 0;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

ul.sidebar.navbar-nav.toggled .dropdown:hover > .dropdown-menu a:first-child {
  padding-top: 1.5rem;
}

ul.sidebar.navbar-nav.toggled .dropdown:hover > .dropdown-menu a:last-child {
  padding-bottom: 1.5rem;
}

ul.sidebar.navbar-nav.toggled .dropdown:hover > .dropdown-menu a {
  padding: 0.75rem 1.5rem 0.75rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #1e1e1e;
}

ul.sidebar.navbar-nav.toggled .dropdown:hover > .dropdown-menu a i {
  font-size: 13px !important;
}

@media (min-width: 768px) {
  .sidebar.toggled .nav-item .nav-link span {
    display: none !important;
  }
  .sidebar .dropdown-menu {
    background-color: #212529;
    border: none;
  }
  .sidebar .dropdown-menu .dropdown-item {
    /* color: #909294; */
    font-size: 14px;
  }
  .sidebar .dropdown-item {
    padding: 0.75rem 0.2rem;
    color: rgba(255, 255, 255, 0.78);
  }
  .sidebar .dropdown-menu .dropdown-item:first-child {
    /* padding-top: .5rem; */
    padding-top: 1rem;
  }

  .sidebar .nav-item .nav-link i {
    width: 20px;
    font-size: 14px !important;
  }
  .sidebar .dropdown-menu .dropdown-item i {
    margin-right: 10px;
  }
  .sidebar .dropdown-item:focus,
  .sidebar .dropdown-item:hover {
    color: #fff;
  }
  .sidebar .nav-item:first-child .nav-link {
    /* padding-top: 1.5rem; */
  }
  .sidebar.toggled .nav-item .nav-link {
    pointer-events: none;
  }
}

/* GERAL */
body {
  color: #444;
}

tbody > tr > td {
  vertical-align: middle !important;
}

.hide {
  display: none;
}

/*girar spinner*/
.fa-spinner {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border-bottom: 2px solid #cfcfcf;
}

/* HOME */
.home thead th,
.home tbody td {
  text-align: center;
}

.home thead th {
  color: #5e5e5e;
}

.home .card-body-icon {
  opacity: 0.1;
  /*novo*/
  position: relative;
  z-index: initial;
  top: auto;
  left: auto;
  opacity: 1;
  font-size: 2rem;
  -webkit-transform: unset;
  transform: unset;
}

.home .desc {
  /* text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #343a40;
    text-align: right; */
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: initial;
  color: #343a40;
  text-align: right;
}

.home .numero {
  /* font-size: 2.2rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: #343a40;
    text-align: right; */
  font-size: initial;
  line-height: initial;
  font-weight: bold;
  color: #343a40;
  text-align: right;
}

.home .card-body-icon {
  /* position: unset;
    font-size: 2.5rem;
    line-height: 4rem;
    transform: none;
    opacity: 1;
    margin-right: 10px;*/
  color: #343a40;
  opacity: 0.7;
  line-height: 36px;
}

.home .card-body-icon i.fas.fa-ban {
  color: #d64141;
}

.home .card-body-icon i.fas.fa-dollar-sign,
.home .card-body-icon i.fas.fa-money-bill-alt {
  color: #26a526;
}

.home .card-body-icon i.fas.fa-list-ol,
.home .card-body-icon i.fas.fa-hand-holding-usd {
  color: #f18a20;
}

.home .card-body-icon i.fas.fa-shopping-cart {
  color: #4183ae;
}

.home #dataTable .acao .dropdown-item:hover {
  background: #c4c4c4;
}

.home #dataTable td {
  vertical-align: middle;
}

.home #dataTable button#dropdownAcoes {
  background-color: #f5f5f5;
  color: #444;
  border-color: #dcdcdc;
}

.home #dataTable .acao button#dropdownAcoes:focus {
  box-shadow: none;
}

.home .graficoDash {
  /* max-height: 300px; */
}

.home div#nav-tabContent p {
  margin: 0;
}

/* GESTÃO DE PEDIDOS */
.gestaoPedidos thead th,
.gestaoPedidos tbody td,
.gestaoProdutos thead th,
.gestaoProdutos tbody td,
.separarPedidos thead th,
.separarPedidos tbody td,
.usuariosCadastrados thead th,
.usuariosCadastrados tbody td,
.listarEtiquetas thead th,
.listarEtiquetas tbody td {
  text-align: center;
}

.gestaoPedidos thead th,
.gestaoProdutos thead th,
.separarPedidos thead th,
.usuariosCadastrados thead th,
.listarEtiquetas thead th {
  color: #5e5e5e;
}

.gestaoPedidos .card-body-icon,
.gestaoProdutos .card-body-icon,
.separarPedidos .card-body-icon,
.usuariosCadastrados .card-body-icon,
.listarEtiquetas .card-body-icon {
  opacity: 0.1;
}

/* .gestaoPedidos .desc, .gestaoProdutos .desc, .separarPedidos .desc, .usuariosCadastrados .desc, .listarEtiquetas .desc { */
.gestaoPedidos .desc,
.gestaoProdutos .desc,
.separarPedidos .desc,
.listarEtiquetas .desc {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1rem;
  color: #343a40;
}

.gestaoPedidos .numero,
.gestaoProdutos .numero,
.separarPedidos .numero,
.usuariosCadastrados .numero,
.listarEtiquetas .numero {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 100;
  color: #343a40;
}

.gestaoPedidos .card-body-icon,
.gestaoProdutos .card-body-icon,
.separarPedidos .card-body-icon,
.usuariosCadastrados .card-body-icon,
.listarEtiquetas .card-body-icon {
  position: unset;
  font-size: 2.6rem;
  line-height: 2.6rem;
  transform: none;
  opacity: 1;
  margin-right: 10px;
  color: #343a40;
}

.gestaoPedidos #dataTable .acao .dropdown-item:hover,
.gestaoProdutos #dataTable .acao .dropdown-item:hover,
.separarPedidos #dataTable .acao .dropdown-item:hover,
.usuariosCadastrados #dataTable .acao .dropdown-item:hover,
.listarEtiquetas #dataTable .acao .dropdown-item:hover {
  background: #c4c4c4;
}

.gestaoPedidos #dataTable td,
.gestaoProdutos #dataTable td,
.separarPedidos #dataTable td,
.usuariosCadastrados #dataTable td,
.listarEtiquetas #dataTable td {
  vertical-align: middle;
}

.gestaoPedidos #dataTable button#dropdownAcoes,
.gestaoProdutos #dataTable button#dropdownAcoes,
.separarPedidos #dataTable button#dropdownAcoes,
.usuariosCadastrados #dataTable button#dropdownAcoes,
.listarEtiquetas #dataTable button#dropdownAcoes {
  background-color: #f5f5f5;
  color: #444;
  border-color: #dcdcdc;
}

.gestaoPedidos #dataTable .acao button#dropdownAcoes:focus,
.gestaoProdutos #dataTable .acao button#dropdownAcoes:focus,
.separarPedidos #dataTable .acao button#dropdownAcoes:focus,
.usuariosCadastrados #dataTable .acao button#dropdownAcoes:focus,
.listarEtiquetas #dataTable .acao button#dropdownAcoes:focus {
  box-shadow: none;
}

.gestaoPedidos input#min,
.gestaoPedidos input#max,
.gestaoPedidos input#minNfe,
.gestaoPedidos input#maxNfe,
.separarPedidos input#minNfe,
.separarPedidos input#maxNfe,
.listarEtiquetas input#minNfe,
.listarEtiquetas input#maxNfe {
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  color: #495057;
  line-height: 1.5rem;
}

.gestaoPedidos .tabelaData td,
.gestaoProdutos .tabelaData td,
.separarPedidos .tabelaData td,
.usuariosCadastrados .tabelaData td,
.listarEtiquetas .tabelaData td {
  border: none;
}

.gestaoPedidos .status,
.gestaoProdutos .status,
.gestaoProdutos .marketplace,
.listarEtiquetas .like {
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  text-transform: uppercase;
  /* font-size: 14px; */
  text-align: center;
  width: 100%;
  border: 1px solid;
}

.produtos .status {
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid;
}

.gestaoPedidos .vermelho,
.gestaoProdutos .vermelho,
.produtos .vermelho,
.listarEtiquetas .vermelho {
  background: #ffa6a6;
  color: #c13232 !important;
}

.gestaoPedidos .verde,
.gestaoProdutos .verde,
.produtos .verde,
.listarEtiquetas .verde {
  background: #d0eab8;
  color: #558332 !important;
}

.gestaoPedidos .laranja,
.gestaoProdutos .laranja {
  background: #ffcd82;
  color: #a26a14;
}

.gestaoPedidos .laranjaCl,
.gestaoProdutos .laranjaCl {
  background: #ffd9a0;
  color: #a26a14;
}

.gestaoPedidos .azul,
.gestaoProdutos .azul {
  background: #bcd6e8;
  color: #4183ae;
}

.gestaoPedidos .roxo,
.gestaoProdutos .roxo {
  background: rgba(179, 66, 244, 0.25);
  color: rgba(179, 66, 244, 0.9);
}

.gestaoPedidos .amarelo,
.gestaoProdutos .amarelo,
.produtos .amarelo {
  background: #eee591;
  color: #a29312;
}

.gestaoPedidos table.table.tabelaData,
.gestaoProdutos table.table.tabelaData,
.separarPedidos table.table.tabelaData,
.listarEtiquetas table.table.tabelaData {
  background: #f0f0f0;
}

.gestaoPedidos table.table.tabelaData td,
.gestaoProdutos table.table.tabelaData td,
.separarPedidos table.table.tabelaData td,
.listarEtiquetas table.table.tabelaData td {
  vertical-align: middle;
}

.gestaoPedidos .filtroStatus label,
.gestaoPedidos .filtroStatus input,
.listarEtiquetas .filtroStatus input {
  margin-bottom: 0;
  height: 40px !important;
  line-height: 38px !important;
}

/*
.gestaoPedidos .filtroStatus label, .gestaoProdutos .filtroStatus label, .listarEtiquetas .filtroStatus label {
    margin-bottom: 0;
    line-height: 28px !important;
}
*/

.gestaoPedidos .filtroStatus input,
.gestaoProdutos .filtroStatus input,
.listarEtiquetas .filtroStatus input {
  cursor: pointer;
  height: 30px !important;
}
.gestaoPedidos .filtroStatus label,
.gestaoProdutos .filtroStatus label,
.listarEtiquetas .filtroStatus label {
  cursor: initial;
  line-height: 28px !important;
  margin: 0;
  height: 30px !important;
}

.gestaoPedidos .filtroStatus span,
.gestaoProdutos .filtroStatus span,
.listarEtiquetas .filtroStatus span {
  float: left;
  margin-right: 5px;
  color: #5e5e5e;
  font-weight: bold;
  line-height: 28px;
  height: 30px;
}

.gestaoPedidos #tabelaPedidos tr td p,
.gestaoProdutos #tabelaProdutos tr td p,
.separarPedidos #tabelaProdutos tr td p,
.usuariosCadastrados #tabelaProdutos tr td p,
.listarEtiquetas #tabelaPedidos tr td p {
  padding: 0;
  width: 100%;
  text-align: center;
  color: #343a40;
  line-height: 20px;
}

.gestaoPedidos #tabelaPedidos button.jplist-reset-btn,
.gestaoProdutos #tabelaProdutos button.jplist-reset-btn,
.separarPedidos #tabelaProdutos button.jplist-reset-btn,
.usuariosCadastrados #tabelaProdutos button.jplist-reset-btn,
.listarEtiquetas #tabelaPedidos button.jplist-reset-btn {
  width: auto;
}

.gestaoPedidos #tabelaPedidos .jplist-drop-down,
.gestaoProdutos #tabelaProdutos .jplist-drop-down,
.separarPedidos #tabelaProdutos .jplist-drop-down,
.usuariosCadastrados #tabelaProdutos .jplist-drop-down,
.listarEtiquetas #tabelaPedidos .jplist-drop-down {
  color: #343a40;
}

.gestaoPedidos #tabelaPedidos .jplist-drop-down .jplist-dd-panel::after,
.gestaoProdutos #tabelaProdutos .jplist-drop-down .jplist-dd-panel::after,
.separarPedidos #tabelaProdutos .jplist-drop-down .jplist-dd-panel::after,
.usuariosCadastrados #tabelaProdutos .jplist-drop-down .jplist-dd-panel::after,
.listarEtiquetas #tabelaPedidos .jplist-drop-down .jplist-dd-panel::after {
  font-size: 14px;
}

.gestaoPedidos #tabelaPedidos .jplist-panel button:hover,
.gestaoProdutos #tabelaProdutos .jplist-panel button:hover,
.separarPedidos #tabelaProdutos .jplist-panel button:hover,
.usuariosCadastrados #tabelaProdutos .jplist-panel button:hover,
.listarEtiquetas #tabelaPedidos .jplist-panel button:hover {
  cursor: pointer;
}

.gestaoPedidos #tabelaPedidos .jplist-panel .jplist-pagination .jplist-current,
.gestaoProdutos
  #tabelaProdutos
  .jplist-panel
  .jplist-pagination
  .jplist-current,
.separarPedidos
  #tabelaProdutos
  .jplist-panel
  .jplist-pagination
  .jplist-current,
.usuariosCadastrados
  #tabelaProdutos
  .jplist-panel
  .jplist-pagination
  .jplist-current,
.listarEtiquetas
  #tabelaPedidos
  .jplist-panel
  .jplist-pagination
  .jplist-current {
  color: #fff;
  background: #7b1f3d;
  text-shadow: none;
  border: none;
}

.gestaoPedidos #tabelaPedidos .jplist-panel .jplist-pagination button,
.gestaoProdutos #tabelaProdutos .jplist-panel .jplist-pagination button,
.separarPedidos #tabelaProdutos .jplist-panel .jplist-pagination button,
.usuariosCadastrados #tabelaProdutos .jplist-panel .jplist-pagination button,
.listarEtiquetas #tabelaPedidos .jplist-panel .jplist-pagination button {
  color: #5e5e5e;
}

.gestaoPedidos #tabelaPedidos .jplist-no-results p,
.gestaoProdutos #tabelaProdutos .jplist-no-results p,
.separarPedidos #tabelaProdutos .jplist-no-results p,
.usuariosCadastrados #tabelaProdutos .jplist-no-results p,
.listarEtiquetas #tabelaPedidos .jplist-no-results p {
  position: absolute;
  bottom: 40px;
}

.gestaoPedidos #tabelaPedidos button.jplist-reset-btn,
.gestaoProdutos #tabelaProdutos button.jplist-reset-btn,
.separarPedidos #tabelaProdutos button.jplist-reset-btn,
.usuariosCadastrados #tabelaProdutos button.jplist-reset-btn,
.listarEtiquetas #tabelaPedidos button.jplist-reset-btn {
  color: #fff;
  background: #17a2b8;
  border: none;
  text-shadow: none;
}

.gestaoPedidos #tabelaPedidos button.jplist-reset-btn:hover,
.gestaoProdutos #tabelaProdutos button.jplist-reset-btn:hover,
.separarPedidos #tabelaProdutos button.jplist-reset-btn:hover,
.usuariosCadastrados #tabelaProdutos button.jplist-reset-btn:hover,
.listarEtiquetas #tabelaPedidos button.jplist-reset-btn:hover {
  background: #138496;
}

.gestaoPedidos #tabelaPedidos button.jplist-reset-btn i,
.gestaoProdutos #tabelaProdutos button.jplist-reset-btn i,
.separarPedidos #tabelaProdutos button.jplist-reset-btn i,
.usuariosCadastrados #tabelaProdutos button.jplist-reset-btn i,
.listarEtiquetas #tabelaPedidos button.jplist-reset-btn i {
  font-size: 12px;
}

.gestaoPedidos #tabelaPedidos .paginacaoBase button.jplist-last,
.gestaoProdutos #tabelaProdutos .paginacaoBase button.jplist-last,
.separarPedidos #tabelaProdutos .paginacaoBase button.jplist-last,
.usuariosCadastrados #tabelaProdutos .paginacaoBase button.jplist-last,
.listarEtiquetas #tabelaPedidos .paginacaoBase button.jplist-last {
  margin-right: 0;
}

.gestaoPedidos .demo-tbl .odd,
.gestaoProdutos .demo-tbl .odd,
.separarPedidos .demo-tbl .odd,
.usuariosCadastrados .demo-tbl .odd,
.listarEtiquetas .demo-tbl .odd {
  background: #fff;
}

/* LOGOTIPOS MARKETPLACE */
.gestaoPedidos .mktplace,
.gestaoProdutos .mktplace {
  color: transparent !important;
}

.gestaoPedidos .CSW,
.gestaoPedidos .CSN,
.gestaoPedidos .CSL,
.gestaoPedidos .VVV,
.gestaoPedidos .CLL,
.gestaoPedidos .BCC,
.gestaoPedidos .LBS,
.gestaoPedidos .LBG,
.gestaoPedidos .LBC,
.gestaoPedidos .CSP,
.gestaoPedidos .CPS,
.gestaoPedidos .CBC,
.gestaoPedidos .CBT,
.gestaoPedidos .CLB,
.gestaoPedidos .CVS {
  background: url("../img/marketplace/csu.png") no-repeat center center;
  background-size: contain;
}

.gestaoPedidos .CRF {
  background: url("../img/marketplace/carrefour.png") no-repeat center center;
  background-size: contain;
}

.gestaoPedidos .SPF {
  background: url("../img/marketplace/shopfacil.png") no-repeat center center;
  background-size: contain;
}

.gestaoPedidos .CSM {
  background: url("../img/marketplace/brastemp.png") no-repeat center center;
  background-size: contain;
}

.gestaoPedidos .CSR {
  background: url("../img/marketplace/consul.png") no-repeat center center;
  background-size: contain;
}

.gestaoPedidos .ZMM,
.gestaoPedidos .ZZZ {
  background: url("../img/marketplace/zoom.png") no-repeat center center;
  background-size: contain;
}

.gestaoPedidos .CLZ {
  background: url("../img/marketplace/cabeleza.png") no-repeat center center;
  background-size: contain;
}

.gestaoPedidos .CTM {
  background: url("../img/marketplace/casatema.png") no-repeat center center;
  background-size: contain;
}

.gestaoPedidos .MDM {
  background: url("../img/marketplace/madeiramadeira.png") no-repeat center
    center;
  background-size: 70%;
}

.gestaoPedidos .DLD {
  background: url("../img/marketplace/diadelivery.png") no-repeat center center;
  background-size: contain;
}

.gestaoPedidos .CSMR,
.gestaoPedidos .FCB,
.gestaoPedidos .GSC,
.gestaoPedidos .BSC {
  background: url("../img/marketplace/casaamerica.png") no-repeat center center;
  background-size: contain;
}

.gestaoProdutos .vtexLogo {
  background: url("../img/marketplace/vtex.png") no-repeat center center;
  background-size: contain;
}

/* GESTÃO PRODUTOS */
.gestaoProdutos .imgProduto {
  width: 70px;
}

/* DETALHES DO PEDIDO */
.pedidos div#myTabContent,
.gestaoPedidos .abaStatus,
.produtos div#myTabContent,
.gestaoProdutos .abaStatus {
  border: 1px solid #dee2e6;
  border-top: 0;
}

.pedidos p.card-text,
.produtos p.card-text {
  font-size: 14px;
}

.pedidos .tab-content .card {
  /* border-top: 2px solid #b95e7c; */
}

.pedidos .tab-content #detalhe .card,
.produtos .tab-content #detalhe .card {
  /* border: none; */
  border-bottom: none;
  border-radius: 0;
}

.pedidos .tab-content #detalhe .card .card-header,
.produtos .tab-content #detalhe .card .card-header {
  padding: 0.25rem 1.25rem;
  border-bottom: 0;
}

.pedidos .tab-content #detalhe .card .card-header .btn-link,
.produtos .tab-content #detalhe .card .card-header .btn-link {
  color: #444;
  text-decoration: none;
}

.pedidos .tab-content #detalhe #accordion,
.produtos .tab-content #detalhe #accordion {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.pedidos .tab-content #detalhe .btn.btn-link,
.produtos .tab-content #detalhe .btn.btn-link {
  width: 100%;
  text-align: left;
}

.pedidos .tab-content #detalhe .btn.btn-link.collapsed,
.produtos .tab-content #detalhe .btn.btn-link.collapsed {
  font-weight: normal;
}

.pedidos .tab-content #detalhe .btn.btn-link,
.produtos .tab-content #detalhe .btn.btn-link {
  font-weight: bold;
  text-decoration: none;
}

.pedidos .tab-content #detalhe .btn.btn-link i,
.produtos .tab-content #detalhe .btn.btn-link i {
  font-size: 12px;
  line-height: 1.5;
}

.sombraVermelho {
  box-shadow: 0px 3px #8f202a;
}

.sombraVerde {
  box-shadow: 0px 3px #1c7631;
}

.sombraAzul {
  box-shadow: 0px 3px #1061b9;
}

.pedidos .nav-tabs .nav-link,
.gestaoPedidos .nav-tabs .nav-link,
.produtos .nav-tabs .nav-link,
.produtos .nav-tabs .nav-link,
.gestaoProdutos .nav-tabs .nav-link,
.produtos .nav-tabs .nav-link,
.separarPedidos .nav-tabs .nav-link,
.produtos .nav-tabs .nav-link,
.home .nav-tabs .nav-link {
  color: #9d9d9d;
}

.pedidos .produtosPedido .col-3,
.produtos .produtosPedido .col-3 {
  border-top: 1px solid #e0e0e0;
  padding: 20px;
}

.pedidos .produtosPedido .col-3:nth-child(1),
.pedidos .produtosPedido .col-3:nth-child(2),
.pedidos .produtosPedido .col-3:nth-child(3),
.pedidos .produtosPedido .col-3:nth-child(4),
.produtos .produtosPedido .col-3:nth-child(1),
.produtos .produtosPedido .col-3:nth-child(2),
.produtos .produtosPedido .col-3:nth-child(3),
.produtos .produtosPedido .col-3:nth-child(4) {
  border: none;
}

.pedidos .produtosPedido img,
.produtos .produtosPedido img {
  max-width: 110px;
  height: auto;
}

.pedidos .produtosPedido p.card-text,
.produtos .produtosPedido p.card-text {
  margin-bottom: 0.2rem;
}

.pedidos .nav-tabs .nav-link.active,
.gestaoPedidos .nav-tabs .nav-link.active,
.produtos .nav-tabs .nav-link.active,
.gestaoProdutos .nav-tabs .nav-link.active,
.separarPedidos .nav-tabs .nav-link.active,
.home .nav-tabs .nav-link.active {
  color: #444;
  font-weight: bold;
}

.pedidos .card .msgFaturando {
  padding: 0.75rem 1.25rem;
}

.pedidos .bgDanger {
  background-color: #ff5868;
}

@media (min-width: 576px) {
  .pedidos #imprimirModal .modal-dialog,
  .produtos #imprimirModal .modal-dialog,
  .separarPedidos #imprimirModal .modal-dialog {
    max-width: none;
  }
}

@media (max-width: 576px) {
  #logoMenu {
    background-image: url("../img/icone_menu-b.png");
    background-position: center center;
    width: 90px;
  }
}

.pedidos #imprimirModal .modal-dialog,
.produtos #imprimirModal .modal-dialog,
.separarPedidos #imprimirModal .modal-dialog {
  width: 90%;
  /* height: 92%; */
  padding: 0;
  margin: 10px auto;
}

.pedidos #imprimirModal .modal-content,
.produtos #imprimirModal .modal-content,
.separarPedidos #imprimirModal .modal-content {
  /* height: 99%; */
  border: 1px solid transparent;
}

.pedidos #imprimirModal .info,
.produtos #imprimirModal .info,
.separarPedidos #imprimirModal .info {
  font-size: 18px;
  font-weight: bold;
  padding-top: 40px !important;
  border: 1px solid transparent;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px !important;
}

.pedidos #imprimirModal .infoCliente,
.produtos #imprimirModal .infoCliente,
.produtos #imprimirModal .infoCliente {
  border: 1px solid transparent;
  border-bottom: 1px solid #dee2e6;
  font-size: 22px;
  padding-bottom: 10px;
}

.pedidos
  .custom-radio
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #7b1f3d;
}

.pedidos .checkConferido label {
  font-size: 15px;
  text-transform: uppercase;
}

.pedidos #cancelarPedidoModal .modal-content {
  background: #f2dede;
  color: #b94a48;
}

.pedidos #cancelarPedidoModal .modal-body i {
  font-size: 50px;
}

/* EMPRESA / CNPJ CADASTRADOS */
.cadastroCnpj button.removerCnpj,
.cadastroContas button.removerCnpj,
.agendamentoTarefa button.removerTarefa {
  border: none;
  background: #dc3545;
  cursor: pointer;
  width: 32px;
  height: 20px;
  color: #fff;
  border-radius: 4px;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: 6px;
  right: 8px;
}

.cadastroCnpj button.detalhesCnpj,
.cadastroContas button.detalhesCnpj {
  border: none;
  width: 32px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 10px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 48px;
  top: 6px;
}

.cadastroCnpj button.removerCnpj:hover,
.cadastroContas button.removerCnpj:hover,
.agendamentoTarefa button.removerTarefa:hover {
  background: #c82333;
  border-color: #bd2130;
}

.cadastroCnpj button.escolherCnpj,
.cadastroContas button.escolherCnpj,
.agendamentoTarefa button.escolherTarefa {
  cursor: pointer;
  position: absolute;
  top: 8px;
  padding: 0 8px 0 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  align-content: center;
  background: transparent;
  border: 1px solid #888;
  color: #444;
  border-radius: 4px;
  width: 90px;
  padding: 0;
  margin: 0 auto;
  display: block;
  font-size: 12px;
}

.cadastroCnpj button.escolherCnpjAtivo i,
.cadastroContas button.escolherCnpjAtivo i,
.agendamentoTarefa button.escolherTarefaAtivo i {
  font-size: 22px;
  line-height: 35px;
  color: #fff !important;
}

.cadastroCnpj button.escolherCnpj i,
.cadastroContas button.escolherCnpj i,
.agendamentoTarefa button.escolherTarefa i {
  font-size: 12px;
  margin: 0 !important;
  line-height: 14px;
  color: #676767;
}

.cadastroCnpj button.escolherCnpj:hover,
.cadastroContas button.escolherCnpj:hover,
.agendamentoTarefa button.escolherTarefa:hover {
  color: #fff;
  background: #28a745;
  border-color: #28a745;
}

.cadastroCnpj button.escolherCnpj:hover i,
.cadastroContas button.escolherCnpj:hover i,
.agendamentoTarefa button.escolherTarefa:hover i {
  color: #fff;
}

.cadastroCnpj button.escolherCnpjAtivo,
.cadastroContas button.escolherCnpjAtivo,
.agendamentoTarefa button.escolherTarefaAtivo {
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #28a745;
  border-radius: 4px;
  background: #28a745;
  padding: 0;
  text-transform: uppercase;
  -webkit-transition: width 2s;
  transition: width 2s;
  font-size: 12px;
}

.cadastroCnpj button.escolherCnpjAtivo:hover,
.cadastroContas button.escolherCnpjAtivo:hover,
.agendamentoTarefa button.escolherTarefaAtivo:hover {
  background: transparent;
  color: #444;
  border-color: #888;
}

.cadastroCnpj button.escolherCnpjAtivo:hover i,
.cadastroContas button.escolherCnpjAtivo:hover i,
.agendamentoTarefa button.escolherTarefaAtivo:hover i {
  color: #676767 !important;
}

.cadastroCnpj .card.ativo,
.cadastroContas .card.ativo {
  /* border-color: #3d9c52; */
  /* background: #c5d8c9; */
}

.cadastroCnpj form.formBtn,
.cadastroContas form.formBtn {
  height: 14px;
}

.cadastroCnpj form.formBtn span,
.cadastroContas form.formBtn span,
.agendamentoTarefa form.formBtn span {
  margin-left: 100px;
  line-height: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 8px;
}

.cadastroCnpj .formEmpresa,
.cadastroContas .formCorreios,
.agendamentoTarefa .formTarefa {
  padding-top: 50px;
}

/*novo modo de exibição das empresas cadastradas em collapse*/
.collection {
  padding: 0;
  list-style-type: none;
  margin: 0 0 15px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.collection .collection-item {
  display: block;
  background-color: #fff;
  line-height: 24px;
  padding: 10px 20px;
  margin: 0;
  border-top: 1px solid #e0e0e0;
}
.collection .collection-item:first-of-type {
  border: 0;
}
.collection .collection-item.collection-avatar {
  padding-left: 72px;
  position: relative;
  height: auto;
  color: #171717;
}
.collection .collection-item.collection-avatar p {
  margin: 0;
  font-size: 14px;
}
.collection .collection-item.collection-avatar i.circle {
  font-size: 26px;
  line-height: 42px;
  color: #171717;
  text-align: center;
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  top: 14px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 100%;
}
.collection .collection-item.collection-heading {
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
}
.collection .collection-item.collection-heading .collection-header {
  padding: 0;
}
.collection .collection-item.collection-heading .collection-headline {
  font-size: 18px;
  font-weight: 600;
}
.collection .collection-item .collection-title {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  word-break: break-word;
}
.collection .collection-item .collection-sub {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.45);
  padding: 0;
  margin: 0;
  font-weight: 400;
  word-break: break-word;
}
@media (max-width: 768px) {
  .collection .collection-item i.inline {
    display: inline-block !important;
    margin: 0 5px;
  }
  .collection .collection-item i.inline:first-of-type {
    margin: 0 5px 0 0;
  }
  .collection .collection-item i.inline:last-of-type {
    margin: 0 0 0 5px;
  }
}
.collection .panel-group {
  margin: 0;
}
.collection .panel-group .panel {
  border-bottom: 1px solid #ddd;
}
.collection .panel-group .panel:last-of-type {
  border-bottom: 0;
}
.collection .panel {
  border: 0;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
}
.collection .panel-body {
  padding: 0;
}
.collection .panel-body.collection-body {
  border-top: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.04);
}
@media (min-width: 768px) {
  .collection .panel-body.collection-body .responsive-items {
    float: right;
    text-align: right;
  }
}
.collection .panel-body.collection-body .lejer-item {
  word-break: break-word;
}
@media (min-width: 768px) {
  .collection .panel-body.collection-body .lejer-item:last-of-type {
    margin: 0;
  }
}
.collection .panel-group .panel-heading + .panel-collapse > .panel-body {
  padding: 15px 20px;
}

/*PEDIDOS - LISTAR ETIQUETAS*/
.listarEtiquetas .title a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.listarEtiquetas .title a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.listarEtiquetas .modal-footer {
  display: inline-block;
}

.listarEtiquetas .jplist-panel input[type="text"] {
  width: 90px;
}

/*TRANSPORTADORA*/
.cadastroContas .card-body .card,
.cadastroCnpj .card-body .card,
.agendamentoTarefa .card-body .card {
  border-width: 1px;
  border-radius: 0;
}

.cadastroContas .alert,
.cadastroCnpj .alert,
.agendamentoTarefa .alert {
  margin: 1rem;
}

/* TAREFA */
.agendamentoTarefa form.formBtn {
  height: 28px;
}

.agendamentoTarefa button.detalhesTarefa {
  border: none;
  width: 32px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 10px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 6px;
}
